<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<ul>
    <li>
    <a href="/coins">Cadastro de Moedas</a>
    </li>
    <li>
        <%= link_to "Cadastro de Meodas", coins_path %>
    </li>

</ul>