<h1>Seja Bem-vindo!</h1>

<strong>Data: </strong><%= data_br(Date.today)%> 
<ul>
    <li>
        <%= link_to "Meodas", coins_path %>
    </li>
    <li>
        <%= link_to "Tipos de Mineração", mining_types_path %>
    </li>
</ul>

